.button {
  display: inline-block;
  border-radius: 50px;
  background-color: #2B728C;
  border: 3px solid;
  color: #FFFFFF;
  text-align: center;
  font-size: 26px;
  padding: 5px;
  width: 160px;
  height: 60px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}


#left.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#left.button span:after{
  content: '«';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}
#left.button:hover span {
  padding-left: 25px;
}
#left.button:hover span:after {
  opacity: 1;
  left: 0;
}



#right.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#right.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
#right.button:hover span {
  padding-right: 25px;
}
#right.button:hover span:after {
  opacity: 1;
  right: 0;
}



#normal.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0s;
  
}
#normal.button span:after {
  position: absolute;
  opacity: 0;
}
#normal.button:hover{
  color:#2B728C;
  background-color:white;
  border: 3px solid #2B728C;
}
#normal.button:hover span:after {
  opacity: 1;
  right: 0;
  
}
