@font-face {
    font-family: GreatLake;
    src: url(../fonts/GreatLakesShadowNF.ttf);
}

#deckprev{	
	position: relative;
    display: inline-block;
    margin: auto;
	padding: 10px;
}

#container {
	border:  2px solid black;
	position: relative;
	padding: 0% 8% 8% 8%;
	margin: 0% 0% 0% 35%;
	width: auto;
       display: inline-block; 
}

#cardshow {
	border-radius: 10px;
	width: 180px;
	height: 240px;
}

img{
	transition: 0.5s ease-in-out;
}

img:hover{
	opacity: 0.25;
}

img#nohover:hover{
  opacity: 1;
}

body h2{
      color: #12869E;
      font-family: GreatLake;
      border: 5px solid white;
      background-color: white;
      border-radius: 10px 10px 10px 10px;
      padding: 10px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #2B728C;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}



#left.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#left.button span:after{
  content: '«';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}
#left.button:hover span {
  padding-left: 25px;
}
#left.button:hover span:after {
  opacity: 1;
  left: 0;
}



#right.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#right.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
#right.button:hover span {
  padding-right: 25px;
}
#right.button:hover span:after {
  opacity: 1;
  right: 0;
}

.modal-title{
    color: white;
}
.modal-header{
  background-color: #2C6772;
}
.modal-body{
  background-color: #FFFFFF;
  color: #23454C;
}
