body,
html {
  background-color: #00A2E2;
}

.mini-submenu{
  display:none;  
  background-color: #00A2E2;  
  border: 1px solid #00A2E2;
  border-radius: 4px;
  padding: 9px;  
  /*position: relative;*/
  width: 42px;

}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    color: #fff;
    background-color: black;
    border-color: #337ab7;
}

a.list-group-item, button.list-group-item {
    color: #555;
    background-color: whitesmoke;
}

a.list-group-item:hover, button.list-group-item:hover{
    background-color: #8FD868;
    padding-left: 25px;
}

.mini-submenu:hover{
  cursor: pointer;
  transition: 0.1s;

}

.mini-submenu .icon-bar {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
  margin-top: 3px;
}

.mini-submenu .icon-bar {
  background-color: white;
}

#slide-submenu{
  background: black;
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.1s
}